.gridImage__overflow .itt-tags {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100; }
  .InputfieldImageEditAll .gridImage__overflow .itt-tags {
    left: 10px;
    bottom: 10px; }
.gridImage__overflow .itt-tag {
  float: left;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.3;
  color: white;
  background: black;
  outline: 1px solid white;
  margin-top: 1px;
  margin-right: 1px; }
